<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Browser" value="IE,Chrome,Edge,Opera,Safari,firefox" />
    <add key="ModelProperties" value="ModelUserConfig.properties" />
    <add key="ModelXml" value="ModelUserTest.xml" />
    <add key="MmodelBat" value="ModelUserExecutor.bat" />
    <add key="userconfigfile" value="userconfigfilename" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>